* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

img, video {
    display: block;
}

a {
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fl {
    float: left;
}

.fr {
    float: right;
}
input{
    border: none;
    outline: none;
}

/* header */
header{
    margin-top: 2px;
    height: 46px;
    display: flex;
    align-items: center;
    background-color: #f10215;
}
header .logo,header .search{
    flex-basis: 50px;
    color: #fff;
    font-weight: 900;
}
header .searchbar{
    flex: 1;
    height: 40px;
    border-radius: 20px;
}
.banner{
    position: relative;
}
.banner img{
    width: 100%;
}
.banner .navi{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
}
.navi li{
    width: 10px;
    height: 10px;
    margin: 20px 5px;
    border-radius: 50%;
    background-color: white;
}
.navi li:first-child{
    background-color: #999;
}

.category{
    display: flex;
    flex-wrap: wrap;
}
.category li{
    width: 25%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 掌上秒杀 */
.secondkill{
    border-top: 5px solid #999;
    border-bottom: 5px solid #999;
}
.secondkill .topbar{
    height: 46px;
    border-bottom: 1px solid #999;
    padding: 10px;
}
.secondkill .topbar .red{
    color: red;
}
.secondkill .topbar .time{
    background-color: #000;
    padding: 0px 2px;
    margin: 2px;
    color: #fff;
}
.secondkill .content{
    display: flex;
}
.secondkill .content li{
    flex: 1;
    padding: 10px;
    border-right: 1px solid #999;
    box-sizing: border-box;
}
.secondkill .content li:last-child{
    border-right: none;
}
.secondkill .content li img{
    width: 100%;
}

/* 推荐商品 */
.recomment .topbar{
    height: 46px;
    border-bottom: 1px solid #999;
    padding: 10px;
    box-sizing: border-box;
}
.recomment .topbar a{
    border-left: 5px solid #f10215;
    padding-left: 10px;
}

.recomment .goods{
    display: flex;
}
.recomment .goods li:nth-child(1){
    flex: 1;
    border-right: 1px solid #999;
    box-sizing: border-box;
}
.recomment .goods li:nth-child(1) img:nth-child(1){
    border-bottom: 1px solid #999;
    box-sizing: border-box;
}
.recomment .goods li:nth-child(2){
    flex: 1;
}
.recomment .goods li img{
    width: 100%;
}